.container {
  font-family: Alegreya, Merriweather, Lora, 'Noto Serif', serif;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
main {
  padding: 1em;
}
footer {
  font-size: small;
}
.yelllll {
  letter-spacing: -2px;
}
.cc-circle {
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 1ch;
}
