---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>simple web is cute</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>simple web is cute</h1>
        <h3>don't ruin it</h3>
      </header>
      <main>
        {{ page.content }}
      </main>
      <footer>
        <p>Created by <a href="https://meekchopp.es" target="_blank">Michcioperz</a> randomly.</p>
        <p>Ideas are free, and this stuff here is also <a href="https://github.com/michcioperz/simple-web" target="_blank">free</a> and under the license of <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><span class="cc-circle">CC</span> BY 4.0 International.</a></p>
        <p>This page agrees that <a href="https://simpleweb.iscute.ovh" target="_blank">simple web is cute</a>.</p>
      </footer>
    <link rel="stylesheet" href="style.css">
  </body>
</html>
